.mainft{
    padding: 50px 0;
    background-color: #cacccf;
    color: aliceblue;
    width: 100%;
}
 .mainft h2{
    color: black;
    font-weight: 700;
    margin-left: 30px;
    
}
 .mainft li{
     list-style: none;
     font-size: 20px;
    
 }
 .mainft ul{
    color: #3498db;
 }
 .Space{
     padding: 10px 0;
 }


 .btn{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 10px 30px;
    display: inline-block;
    border-radius: 50px;
    transition: 0.5s;
    color: #3498db;
    border: 2px solid #3498db;
    text-decoration: none;
 }
  .btn:hover{
    background-color: #3498db;
    color: #fff;
  }
  
  .Main{
      padding:10rem;
  }
  
 /* ################################################################################# */
 body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    color: rgb(2, 2, 2);
    font-family: cursive;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}
footer{
 margin-top: 40px;
}

.SecondCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #e6e9eea6;

}
.Info img{
    height: 19rem;
    width: 21.60rem;
    border-radius: 50px;
    
}
.Info{
    margin-top: 7rem;
    margin-left: 5rem;
    margin-right:5rem;
    background-color: white;
    margin-bottom: 7rem;
    border-radius: 50px;
}
.Info h4{
    text-align: center;
    font-family: cursive;
    color: red;
    font-weight: 600;
}
.Info p{
    text-align: center;
    font-family: cursive;
    align-items: center;
    margin-top: 15px;
    margin-left: 3px;
    margin-right: 3px;
}
.Info h1{
    text-align: center;
    font-family: cursive;
}
.Container row ul li{
    text-decoration: none;
    color: black;
}
.container-fluid p {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 600;
    font-family: cursive;
    background-color: #cacccf;
}